<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('Recourses/head.htm') -%>
  <title></title>

</head>

<body>
  <!--================ Banner Section start =================-->
  <section class="login-bg  text-center">
    <div class="container">
      <div class="index-box">
        <div class="index-box-head">
          <h2 class="index-title">SISTEMA DE SEGURIDAD</h1>
            <h3 class="hero-subtitle" style="color: #2969B0">OCEANO SEAFOOD
          </h2>
        </div>
        <div class="index-body">
          <div class="submit-btn-index">
            <button id="personal"> PERSONAL </button>
            <button id="TI"> MANTENIMIENTO </button>
            <button id="admin"> ADMINISTRADOR </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ==================== Ventana emergente de inicio de sesion=============-->

  <%- include('Recourses/subbody.htm')-%>
</body>

</html>
