 <!-- sales report area start -->
          
          <!-- sales report area end -->
          <!-- overview area start -->

          <!-- overview area end -->
          <!-- market value area start -->
          <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex justify-content-between align-items-center">
                            <h4 class="header-title mb-0">Registro de Asistencias</h4>
                            <select class="custome-select border-0 pr-3">
                                <option selected>Last 24 Hours</option>
                                <option value="0">01 July 2018</option>
                            </select>
                        </div>
                        <div class="market-status-table mt-4">
                            <div class="table-responsive">
                                <table class="dbkit-table">
                                  <thead class="dbkit-table">
                                      <tr class="heading-td">
                                          <td class="mv-icon">ID</td>
                                          <td class="coin-name">Nombre</td>
                                          <td class="buy">Grupo</td>
                                          <td class="sell">Fecha</td>
                                      </tr>  
                                  </thead>
                                  <tbody id="body-table" ></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>