<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="shortcut icon" type="image/png" href="img/icon/favicon.ico">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/themify-icons.css">
<link rel="stylesheet" href="css/metisMenu.css">
<link rel="stylesheet" href="css/owl.carousel.min.css">
<!-- amcharts css -->
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://kit.fontawesome.com/066220cb7a.js" crossorigin="anonymous"></script>
<!-- style css -->
<link rel="stylesheet" href="css/typography.css">
<link rel="stylesheet" href="css/default-css.css">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/responsive.css">
<!-- modernizr css -->
<script src="js/vendor/modernizr-2.8.3.min.js"></script>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/central.js"></script>
<script src="js/bootstrap.js"></script>